body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover; /* Cover the entire background */
    background-position: center;
}

h1 {
    color: #333;
    margin-top: 20px;
}

form {
    background: rgba(253, 253, 253, 0.527);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 20px 0;
}

input {
    display: block;
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 50px;
}

button:hover {
    background: #0056b3;
}

.donors {
    margin-top: 20px;
}

.donors.hidden {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}
.hidden {
    display: none;
}

/* Add other styles as needed */

li {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
